@import "tailwindcss";

@theme {
    --color-custom-gray: #353535;
    --color-custom-gray2: #4a4a4a;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    background-color: #f7f7f7;
}